.wrapper {
  width: 100%;
}

.subtitle {
  /* margin: 0; */
  /* line-height: 1.25; */
  /* letter-spacing: -0.01em; */
  /* font-weight: 420; */
  font-weight: var(--fw-subtitle);
  visibility: hidden;
}
