.wrapper {
  width: 100%;
  border-radius: var(--border-radius-primary);
  /* background: radial-gradient(
    circle at 10% 10%,
    var(--primary-color-transparent),
    transparent 90%
  ); */
  /* box-shadow: var(--shadow-s); */
  overflow: hidden;
}

.wrapperInner {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding: var(--space-m);
}

.imageWrapper {
  width: 100%;
  height: clamp(13rem, 30vw, 19rem);
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(0);
  will-change: transform;
  border-radius: var(--border-radius-primary);
}

.details {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  /* border: 1px solid red; */
  flex: auto;
}

.header {
}

.title {
  color: var(--primary-color-light);
  font-weight: 700;
  font-family: var(--font-instrumentSerif) !important;
}

.title :global(.word),
.title :global(.char) {
  font-family: var(--font-instrumentSerif) !important;
}

.body {
  color: var(--primary-light-subtle);
  font-weight: 300;
  max-width: 60ch;
  font-size: var(--fs-h5);
  width: 100%;
}

@media (max-width: 72em) {
  .wrapper {
    gap: var(--space-m);
  }
}

@media (max-width: 40em) {
  .wrapper {
    gap: var(--space-m);
  }

  .details {
    gap: var(--space-m);
  }

  .body {
    max-width: none;
    font-size: var(--fs-body);
  }
}
