.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.originHeader {
  font-family: var(--font-instrumentSerif);
}

.layout {
  width: min(100%, 78ch);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: calc(var(--space-2xl) * 2);
  
}

.side {
   height: 100%;
   width: 50%;
   max-width: 600px;
   display: flex;
   flex-direction: column;
   /* gap: var(--space-l); */
}

.paragraph {
  margin: 0;
  color: var(--primary-light-subtle);
  font-size: var(--fs-h5);
  line-height: 2;
  font-weight: var(--fw-body);
  max-width: 70ch;
  white-space: pre-line;
}

.originGallery {
  width: 50%;
  max-width: 600px;
  overflow: hidden;
  border-radius: var(--border-radius-primary);
}

@media (max-width: 72em) {
  .wrapper {
    gap: var(--space-xl);
  }
}

@media (max-width: 40em) {
  .wrapper {
    gap: var(--space-l);
  }

  .paragraph {
    font-size: var(--fs-meta);
  }
}
