.wrapper {
  width: 100%;
}

.cardStack {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: max(var(--space-s), var(--space-m));
}

@media (max-width: 40em) {
  .wrapper {
    gap: var(--space-l);
  }
}
