.wrapper {
  width: 100%;
  align-items: center;
  text-align: center;
  padding: clamp(var(--space-l), 3vw, var(--space-2xl));
  border: none;
  background: none;
  box-shadow: none;
  gap: var(--space-m)
}

.eyebrowWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title {
  margin: 0;
  /* max-width: 22ch; */
  color: var(--primary-light);
  font-family: var(--font-instrumentSerif);
  font-size: var(--fs-h1);
  line-height: 1.2;
}

.body {
  margin: 0;
  color: var(--primary-color-light);
  font-size: var(--fs-h5);
  font-weight: var(--fw-body);
  line-height: 2;
  /* max-width: 50ch; */
  margin-bottom: var(--space-m);

}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-s);
}

@media (max-width: 40em) {
  .title {
    max-width: 18ch;
  }
}
