.wrapper {
  width: 100%;
  min-height: 100lvh;
  max-width: var(--max-layout-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innerWrapper {
  width: min(100%, var(--max-layout-width));
  margin: 0 auto;
  padding: calc(var(--header-clearance) + (var(--space-l) * 2))
    var(--page-content-inline-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-l);
}

@media (max-width: 425px) {
  /* .wrapper {
    padding: var(--space-s) !important;
  } */
}

@media (max-width: 72em) {
  .wrapper {
    padding: 0 0 calc(2rem + var(--header-height));
  }

  .innerWrapper {
    gap: var(--space-xl);
  }
}

@media (max-width: 40em) {
  /* .wrapper {
    padding: 1.25rem 0 calc(1.25rem + var(--header-height));
  } */

  .innerWrapper {
    padding: 0 clamp(1rem, 4vw, 1.25rem);
    gap: var(--space-l);
  }
}
